.fifth-section {
  display: none;

  .text-figure {
    width: 400px;
    position: absolute;
    right: 80px;
    top: 45px;
  }

  .this-is-it {
    position: absolute;
    top: 65px;
    right: 225px;
    font-size: xx-large;
  }

  .heruvim {
    width: 300px;
    position: absolute;
    left: 50px;
    bottom: 30px;
  }
}