
.first-section {
  @extend %fcc;
  display: flex;

  img {
    transform: rotate(3deg)
  }

  .start-kupid1 {
    width: 200px;
    position: absolute;
    left: 85px;
    top: 125px;
  }

  .start-kupid2 {
    width: 165px;
    position: absolute;
    right: 105px;
    bottom: 80px;

  }
}